* {
    box-sizing: border-box;
   
    
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #1C1C26;
    margin: 0;
    padding: 0;

}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;

}

h1 {
    text-align: center;
    color:#1C1C26; 
    margin-bottom: 5px;
}

.icon {
    height: 20px;
    filter: brightness(0) saturate(100%) invert(84%) sepia(44%) saturate(1772%) hue-rotate(160deg) brightness(94%) contrast(79%);
}

nav {
    text-align: center;
    height: 30px;
    color:#1C1C26;
}

.hamburger {
    position: relative;
    right: 0;
}

.connect {
    text-align: center;
    color: white;
}

.graphic-container {
    background-image: "images\photo_120146_20190419.jpg";
}

.tagline-intro {
    background: #2C2940;
    border: #2C2940 solid 1px;
    color: #EBEFF2;
    text-align: center;
}

.bio {
    border: #EBEFF2 solid 1px;
    padding: 20px;
}

[class^="project"] {
    background-color:#EBEFF2;
}

.projects {
    background: rgb(235,239,242);
    background: linear-gradient(180deg, rgba(235,239,242,1) 44%, rgba(44,41,64,1) 100%);
    padding: 20px;

}

[class$="description"] {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.app-pic {
    width: 100%;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    color: #5FC2D9; 
  }
  .language-container {
      padding: 0;
      margin: 0;
  }